@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-beige-500: #98908B;
    --color-beige-100: #f8f4f0;
    --color-grey-900: #201F24;
    --color-grey-500: #696868;
    --color-grey-300: #b3b3b3;
    --color-grey-100: #f2f2f2;
    --color-sec-green: #277c78;
    --color-sec-yellow: #f2cdac;
    --color-sec-cyan: #82c9d7;
    --color-sec-navy: #626070;
    --color-sec-red: #c94736;
    --color-purple-sec: #826cb0;
    --color-purple-oth: #af81ba;
    --color-turquoise: #597c7c;
    --color-brown: #93674f;
    --color-magenta: #934f6f;
    --color-blue: #3f82b2;
    --color-navy-grey: #97a0ac;
    --color-army-green: #7f9161;
    --color-gold: #cab361;
    --color-orange: #be6c49;
    --text-primary: 8rem;
    --text-secondary: 5rem;
}

body {
    @apply m-0;
    font-family: "Public Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
    .text-preset-heading {
        @apply font-bold text-primary leading-[1.2];
    }

    .text-preset-subHeading {
        @apply font-bold text-secondary leading-[1.2];
    }

    .text-preset-regular {
        @apply font-bold text-base leading-1.5;
    }

    .text-preset-sm {
        @apply text-sm leading-1.5;
    }

    .text-preset-xs {
        @apply text-xs leading-1.5;
    }

}